<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nagwa.nagwa_mvp_task">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/nagwa_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nagwa_logo"
        android:supportsRtl="true"
        android:name=".NagwaApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>